.nav:not(:last-child),
.activated:not(:last-child) {
  margin-right: 20px;
}
.nav {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.activated {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;

  color: rgb(219, 223, 20);
}
