:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-bgr-color: #ffffff;
  --bg-additional-color: #2f303a;
  --accent-bg-color: #2196f3;
  --bg-additional2-color: #f5f4fa;
  --hover-button: #188ce8;
  --primary-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
.title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.contact {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
}
.contact__item:not(:last-child) {
  margin-bottom: 5px;
}
.contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 10px 15px 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.contact__text {
  font-size: 16px;
  font-weight: 600;
}
.contact__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:focus,
.contact__link:hover {
  color: var(--accent-text-color);
}
.contact__btn {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(122, 121, 121, 0.2);
  outline: none;
  font-size: 12px;
  font-weight: 700;
  width: 70px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__btn:hover,
.contact__btn:focus {
  background-color: #188ce8;
  color: #fff;
}
